@import "normalize.css";


/* --------- Repeating elements and sections --------- */

footer,
.hero{
    background-color: var(--color-background-dark);
    color:var(--color-white);
}

footer, 
.team-section{
    padding-top: 94px;
    padding-bottom: 94px;
}


/* --------- Icons Social Network --------- */

/* --------- Flexbox --------- */
.nav__bar,
.nav__bar__links__page,
.header-items,
/*  */
.container__benefits,
.what_do_we_do_images,
.team,
.customers,
.footer-container{
/* .projects__filters,
.projects{ */
    display: flex;
    flex-wrap: wrap;
}

/* ------------------------------------ Index ------------------------------------ */


/* --------- Header --------- */


/* --------- Main --------- */

/* --------- Backdrop --------- */

/* --------- form --------- */

/* --------- Hero --------- */



/* --------- Benefits --------- */




/* --------- what do we do --------- */



/* --------- Team --------- */



/* --------- Customers --------- */





/* --------- footer --------- */


/* ------------------------------------ Portafolio ------------------------------------ */

/* --------- main ---------  */

/* ---------  nav bar buttons --------- */


